<div class="token-reveal">
  <h3>Your new API token</h3>
  <p>Copy this token now. It will not be shown again.</p>
  <div class="token-reveal__value">
    <code><%= raw_token %></code>
  </div>
</div>
